# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/.idea

# testing
/coverage

# editor
.vscode

# next.js
/.next/
/out/

# production
/build
.swc

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# vercel
.vercel

# webflow
.webflow
.processing-webflow

# data store
.data-store

public/sw.js
public/sw.js.map
public/workbox-*

